* {
    box-sizing: border-box;
    margin: 0;
}

h2{
  text-align: center;
}

.container {
    margin: 0 3%;
}

.hidden {
    display: none;
}

/* colors */
.background-color-header {
    background-color: #fff;
}

.color-main {
    color: #5e66d2;
}

.background-color-footer{
    background-color: #BCCCDC;
}

.oswald-bold {
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

/* fonts */

.oswald-light {
    font-family: "Oswald", serif;
    font-weight: 400;
}



/* header */

#header{
    height: max-content;
}

ul {
    list-style: none;
    font-size: 46px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

li{
    margin-right: 2%;
}

a:hover{
    color:#5e66d271;
}

.font-size-nav-mobile {
    font-size: 24px;
}

.nav-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #BCCCDC;
    height: 100%;
    left: 0px;
}

.menu{
    padding: 1%;
    border-radius: 1.875vw;
    border: 1px solid #5e66d271;
}

.menu:hover{
    color:#1924bc;
    border: 1px solid #1924bc;
}

.fixed-position{
    position: fixed;
    z-index: 9999;
}

.close {
    position: absolute;
    right: 10%;
    bottom: 85%;
}

.background-color-body{
    background-color: rgba(0, 0, 0, 0.689) !important;
}

@media screen and (min-width: 1000px) {
    .close{
        display: none;
    }
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }

  
/* main */

.container-main{
  padding: 5%;
}

.gift{
  background-color: #fff;
  color: #1924bc;
  padding: 2%;
  border-radius: 1.8vh;
  margin: 2%;
}

.gift-btn{
  background-color: rgb(115, 90, 217);
  border: 1px solid #1924bc;
  padding: 2%;
  border-radius: 1.8vh;
  color: #fff;
}

.img-main{
  width: 80%;
  border-radius: 1.8vh;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img {
    width: 50%;
}

.item-main {
    text-align: center;
}

/* waves */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 1000px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }

  .flex-serves{
    flex-direction: column;
  }
}

/* serves */

.serves-item{
  background-color: rgba(0,172,193,1);
  padding: 3%;
  margin: 3% 0;
  border-radius: 1.8vh;
  color: #ffffff;
}

.flex-serves{
  gap:2%;
}

.img-serves{
  width: 50px;
  border-radius: 50%;
}

/* about */

#about{
  background-image: url('../assets/price/5ee9b91ec92211efbc74a29930638501.webp');
}

.flex-about{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
}

.img-about {
  width: 80%;
  border-radius: 1.8vh;
  text-align: center;
}

.about-desc{
  color: #fff;
  background-color: #5e66d2;
  margin: 2% 0;
  border-radius: 1.8vh;
}

/* price */
.flex-price{
  flex-wrap: wrap;
  gap: 3%;
}

.background-price{
  background-color: #1924bc69;
}

.btn-container{
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

/* footer */

.footer-wave{
  background-color: rgba(0,172,193,1);
}

.footer-parallax{
  background-color: rgba(0,172,193,1);
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: 5% 0;
  color: #1924bc;
}

.social>a{
  color: #1924bc;
}

.social{
  display: flex;
  justify-content: end;
  gap: 5%;
}

.subcontacts{
  display: flex;
  justify-content: center;
  gap: 3%;
  padding: 3% 0;
}

.img-footer-bg{
  position: absolute;
  z-index: -9999;
}